$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

// This imports the bootstrap source
@import 'base/main';

@import 'common/main';

@import 'views/index';
@import 'views/signin';